
/* o "not()" é usado quando eu quero fazer o contrario da ação ou querio excluir algum elemento da mudança */
p:not(.meio) {
    color: blue;
}

input:not(:checked) + p {
    background: yellow;
}

/* Basicamente o "nth-child()" serve para selecionar os irmaos, dentro do parentes você pode colocar algum filtro*/
/* "odd" seleciona os indices impares*/
ul .itemlista:nth-child(odd) {
    background: orangered;
}
/* "even" seleciona os indices pares*/
ul .itemlista:nth-child(even) {
    background: rgb(0, 81, 255);
}
/* "3n" seleciona os itens de 3 em 3, pode ser colocado outros números*/
ul .itemlista:nth-child(3n) {
    color: white;
}
/* "3n+5" seleciona os itens de 3 em 3, mas só começa do elemento 5, pode ser colocado outros números*/
ul .itemlista:nth-child(3n+5) {
    background: rgb(41, 175, 23);
}

/*Aula 20*/

/*Adiciona um elemento depois*/
ul .item::after {
    content: ' - ' ;
    background: red;
    color: white;
}

/*Adiciona um elemento antes*/
ul .item::before {
    content: ' * ' ;
}

/*Muda a primeira letra do "p"*/
.p-pseudo::first-letter {
    font-size: 40px;
    display: block;
    float: left;
    margin: 0 10px 0px 0;
}

/*Muda a primeira linha do "p"*/
.p-pseudo::first-line {
    background: palevioletred;
}

/*Muda a quando seleciono alguma parte do "p"*/
.p-pseudo::selection {
    background: black;
    color: white;
}

::placeholder {
    color: orange;
}



