* {
    margin: 0;
}

.pai {
    height: 300vw;
    font-family: sans-serif;
}

.filha1, .filha2, .filha3, .filha4 {
    width: 300px;
    height: 300px;
    margin: 10px;
    
}

.filha2 {
    position: relative; /*A "relative" permite mudar o elemento de lugar, mas ainda deixa o espaço que ela "ocupa", ela também não relaciona com a pagina, é ralativa ao elemento perto dele.*/
    top: 50px;
    left: 50px;
    background-color: yellow;

}

/*cambiara para deixar o elemento "absolute" no meio da página*/
.filha1 {
    position: absolute; /*O "absolute" faz com que o elemente não esteja mais ali, basicamente troca a camada dele*/
    top: 50%;
    margin-top: -150px;
    left: 50%;
    margin-left: -150px;
    background-color: rgba(255, 0, 0, 0.664);
    z-index: 2;
}

.filha3 {
    position: absolute;
    background-color: green;
    z-index: 1; /*Define em qual camada está o elemento*/
    
}

/*Neste caso, como o span está dentro do "filha2" ele vai respeitar o "relative" e não vai mais ser relacionado a pagina, sua posição vai ser relacionado ao pai*/
.outra {
    position: absolute;
    font-size: 20px;
    background-color: #fff;
    left: 10px;
}

.filha4 {
    background-color: blue;
    position: fixed; /*basicamente é igual o absolute, só que ele acompanha a tela, ou seja, é em relação a tela, mas ao estado atual.*/
    top: 100px;
    right: 0;
}



ul {
    height: 100px;
    overflow-y: auto;
}

ul li.sticky {
    position: sticky; /*Serve somente quando tiver scroll, basicamente ele vai fixar um elemento até aparecer outro elemento com a mesma classe, ai ele subtitui e assim vai.*/
    background-color: gray;
    top: 0;
}